*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #1A1A1A;
    padding: 0 1rem;
}

.nav__logo{
    height: 4rem;
    width: 5rem;
}

.nav-link{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    margin-right: 10px;
}

.nav-link:hover{
    background-color: white;
    color: #1A1A1A;
    border-radius: 12px;
}

main{
    background-color: #1A1A1A;
}

.inicio{
    position: relative;
}

.inicio__fondo{
    min-height: 80vh;
    background-image: url("../img/fondo_gym.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.inicio__card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inicio__logo{
    height: 280px;
    width: 280px;
}

.inicio__btn{
    margin: 2rem 0;
}