*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #1A1A1A;
    padding: 0 1rem;
}

.nav__logo{
    height: 4rem;
    width: 5rem;
}

.nav-link{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    margin-right: 10px;
}

.nav-link:hover{
    background-color: white;
    color: #1A1A1A;
    border-radius: 12px;
}

.inicio{
    min-height: 100vh;
    background-image: url("../img/fondo_gym.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
