*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #1A1A1A;
    padding: 0 1rem;
}

.nav__logo{
    height: 4rem;
    width: 5rem;
}

.nav-link{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    margin-right: 10px;
}

.nav-link:hover{
    background-color: white;
    color: #1A1A1A;
    border-radius: 12px;
}

main{
    background-color: #1A1A1A;
}

.inicio{
    position: relative;
}

.inicio__fondo{
    min-height: 80vh;
    background-image: url("../img/fondo_gym.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.inicio__card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inicio__logo{
    height: 280px;
    width: 280px;
}

.inicio__btn{
    margin: 2rem 0;
}

.caracteristicas{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.caracteristicas__contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: justify;
}

.caracteristicas__contenido img{
    height: 200px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.495);
    border-radius: 50%;
    padding: 1rem;
}

.planes h1{
    color: white;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
}

.plan{
    height: auto;
    width: 350px;
    background-color: greenyellow;
    margin: 1rem auto;
    padding: 1rem;
}

.sobre-mi{
    height: 300px;
    background-color: rgba(255, 255, 255, 0.21);
}

.contacto{
    padding: 1.3rem;
    color: white;
    height: 500px;
    background-color: rgba(61, 60, 60, 0.754);
}

footer{
    background-color: #1A1A1A;
}